<%= link_to 'Back', projects_path, class: 'btn btn-light mb-3' %>

<div class="card">
  <div class="card-header">
    <h2 class="card-title d-flex justify-content-between">
      <span><%= @project.name %></span>
      <div>
        <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-warning' %>
        <%= link_to 'Delete', @project, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'} %>
      </div>
    </h2>

    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>
  </div>

  <div class="card-body">
    <h4>New task</h4>
    <%= render 'tasks/form' %>

    <hr/>

    <h4>Tasks</h4>

    <% @project.tasks.each do |task| %>
      <% if task.persisted? %>

        <div class="card">
          <div class="card-body">

            <span class="badge badge-primary">
              <%= task.status %>
            </span>

            <h5><%= task.name %></h5>

            <%= link_to 'Edit', edit_project_task_path(task.project, task), class: 'btn btn-warning btn-sm' %>
            <%= link_to 'Destroy', [task.project, task], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>

            <p><%= task.description %></p>
          </div>
        </div>


      <% end %>
    <% end %>


  </div>
</div>