<div class="card">
  <div class="card-header">
    <div class="card-title d-flex justify-content-between">
      <div class="d-flex">
        <h2><span><%= @project.name %></span></h2>
        <div class="ml-3">
          <span class="badge <%= @project.status_color %> dark-text-link mr-3">
            <%= @project.percent_complete %>%
          </span>
            <span class="dark-text-link mr-3">
            <%= @project.tasks_completed %>
          </span>
        </div>
      </div>
      <div>
        <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-warning' %>
      </div>
    </div>

    <p>
      <strong>Description</strong>
      <br/>
      <%= @project.description %>
    </p>
  </div>

  <div class="card-header">
    <%= render 'tasks/form' %>
  </div>

  <div class="card-body pb-1" id="tasks">

    <h4>Tasks</h4>

    <% @project.tasks.each do |task| %>
      <% if task.persisted? %>

        <div class="card mb-3">
          <div class="card-body">

            <div class="d-flex justify-content-between">
              <div>
                <span class="badge badge-<%= task.status %> %> mb-2">
                  <%= task.status %>
                </span>
              </div>

              <div>
                <%= link_to 'Update', edit_project_task_path(task.project, task), class: 'btn btn-warning btn-sm', id: dom_id(task) %>
              </div>
            </div>

            <h5 class="card-title mb-2">
              <%= task.name %>
            </h5>


            <p><%= task.description %></p>
          </div>
        </div>


      <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'Back', projects_path, class: 'btn btn-secondary mt-3 mb-3' %>